export DATABASE_URL="/miq/db.sqlite"

watch_file ./miq
if [[ ! -L ./miq ]] || [[ ! -e ./miq ]]; then
    ln -vsTf /miq ./miq
fi

watch_file flake.nix
watch_file flake.lock
watch_file devshell.nix

use flake

if [[ ! -f .env_filter ]]; then
    touch .env
fi

watch_file .env
dotenv .env
